<% extends "layout.html" %>
<%block header%>
订阅-及时雨
<%endblock%>
<% block content %>
<style>
    .news-column-list {
        padding: 15px 0 0;
    }

    .news-column-item {
        float: left;
        margin: 0 20px 15px 0;
        list-style: none;
        cursor: pointer;
    }

    .news-column-name.current {
        background: #259;
        border-color: #259;
        color: #fff;
    }

    .news-column-name {
        display: block;
        padding: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        border: 1px solid #daecf5;
        -webkit-tap-highlight-color: rgba(225, 225, 225, .5);
    }

    .content {
        /* overflow: hidden; */
    }

    .news-list {
        /* height: calc(74vh - 8px); */
        /* overflow: scroll; */
    }

    .home-top {
        background: white;
        padding: 2vh 4vw;
        margin-bottom: 8px;
    }

    .home-subtitle {
        padding: 0 4vw;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        height: 6vh;
        background: white;
        line-height: 6vh;
        font-size: 18px;
    }

    .avatar-wrap {
        display: flex;
        align-self: center;
        justify-content: flex-start;
    }

    .avatar {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .account-wrap {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    .account {
        /* margin-bottom: 5px;  */
    }

    .home-info-change {
        display: none;
    }

    .home-info button {
        border-radius: 8px;
    }

    .change-form {
        margin-top: 10px;
    }

    .form-input-wrap {
        position: relative;
        display: flex;
        font-size: 14px;
        background: #fff;
        box-sizing: border-box;
        transition: background .2s, border .2s;
        width: 100%;
        height: 48px;
        padding: 0;
        color: #8590a6;
        border: none;
        border-bottom: 1px solid #ebebeb;
        border-radius: 0;
    }

    .form-input {
        flex: 1 1;
        padding: 0;
        overflow: hidden;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        background: transparent;
        border: none;
        resize: none;
        height: 48px;
    }

    .form-button {
        width: 100%;
        margin-top: 30px;
        height: 36px;
        color: #fff;
        background-color: #0084ff;
    }

    .form-input:focus,
    .form-button:focus {
        outline: none;
    }

    .box-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #f6f6f6;
        height: 58px;
        border-top: 1px solid #ebebeb;
        font-size: 16px;
    }

    .box-bottom .c-color-blue {
        color: #175199;
        cursor: pointer;
    }

    .box-form-info {
        color: red;
        margin-top: 15px;
        text-align: left;
        display: none;
    }

    .change-info-button-cancel {
        display: none;
        background-color: #ff5858;
    }
</style>
<div class="home-top">
    <div class="home-info row">
        <div class="c-span1 avatat-wrap">
            <img src="https://pic3.zhimg.com/v2-a8e47c73bdfec24dbfeef5ec43edd012_xl.jpg" class="avatar" alt="">
        </div>
        <div class="c-span8 account-wrap">
            <h2 class="account">{$ user.account $}</h2>
        </div>
        <div class="c-span3">
            <button class="form-button c-gap-top-zero change-info-button">
                修改密码
            </button>
            <button class="change-info-button-cancel form-button c-gap-top-zero">
                取消
            </button>
        </div>
    </div>
    <div class="home-info-change">
        <form action="" class="change-form">
            <div class="form-input-wrap">
                <input type="password" name="password" id="change-password" class="form-input change-password"
                    placeholder="密码">

            </div>
            <div class="form-input-wrap">
                <input type="password" name="repeat-password" id="change-repeat-password"
                    class="form-input change-repeat-password" placeholder="确认密码">
            </div>
            <div class="box-form-info">
            </div>
            <button type="button" class="form-button change-info-submit">提交</button>
        </form>
    </div>
</div>
<% if subscription %>
<div class="home-subtitle">
    我的订阅
</div>
<% endif %>
<ul class="news-list">
    <% for site in subscription %>
    <li class="news-list-item">
        <h2 class="news-title">{$ site.site $}</h2>
        <ul class="news-column-list clearfix">
            <% for subLink in site.subLinks %>
            <li class="news-column-item"><span class="news-column-name"
                    data-value="{$ site.site $}-{$ subLink.column $}">{$ subLink.column $}</span></li>
            <% endfor%>
        </ul>
    </li>
    <% endfor %>
</ul>
<script>
    var $changeButton = $('.change-info-button');
    var $changeButtonCancel = $('.change-info-button-cancel');
    var $newsColumeName = $('.news-column-name');
    var $changeSubmitBtn = $('.change-info-submit');
    var $homeInfoChange = $('.home-info-change');
    var subscription = [];
    var $changeRepeatPassword = $('.change-repeat-password');
    var $changePassword = $('.change-password');
    $changeButton.click(function () {
        $homeInfoChange.show();
        $changeButton.hide();
        $changeButtonCancel.show();
    });
    $changeButtonCancel.click(function () {
        $homeInfoChange.hide();
        $changeButton.show();
        $changeButtonCancel.hide();
    });
    $newsColumeName.click(function (e) {
        var $target = $(e.target);
        let addClass = 'current';
        var subValue = $target.attr('data-value').split('-');
        if ($target.hasClass(addClass)) {
            subscription.forEach((item, index) => {
                if (item.site == subValue[0] && item.column == subValue[1]) {
                    subscription.splice(index, 1);
                }
            });
            $target.removeClass(addClass);
        } else {
            subscription.push({
                site: subValue[0],
                column: subValue[1],
            });
            $target.addClass(addClass);
        }
        $.ajax({
            url: 'home/setSubscription',
            type: 'POST',
            data: { subscription: JSON.stringify(subscription) },
            dataType: 'json',
            success: function (data) {
                if (data && data.length > 0) {
                    subscription = data;
                    $.each(data, function (key, value) {
                        $('span[data-value=' + value.site + '-' + value.column + ']').addClass('current');
                    });
                }
            }
        })
    });
    $(document).ready(function () {
        $.ajax({
            url: 'home/getSubscription',
            type: 'GET',
            success: function (data) {
                if (data && data.length > 0) {
                    subscription = data;
                    $.each(data, function (key, value) {
                        $('span[data-value=' + value.site + '-' + value.column + ']').addClass('current');
                    });
                }
            }
        });
    });
    $changeSubmitBtn.click(function () {
        changePassword();
    });
    function changePassword() {
        var password = $changePassword.val();
        var repeatPassword = $changeRepeatPassword.val();
        if (password && repeatPassword && password === repeatPassword) {
            $.ajax({
                url: 'home/changePassword',
                data: { password: password },
                type: 'POST',
                success: function (data) {
                    if (data.changeStatus = 'success') {
                        window.location.href = '/login';
                    } else {
                        $('.box-form-info').text('当前密码输入有误~ ');
                    }
                }
            });
        } else {
            $('.box-form-info').text('输入有误~ ');
        }
    };
    function changeAvatar() {

    }
</script>
<% endblock %>