<% extends "layout.html" %>
<%block header%>
首页-及时雨
<%endblock%>
<% block content %>
<ul class="news-list">
    <% for article in articles %>
    <li class="news-list-item">
        <a href="/log?tc={$ article.url | urlencode $}">
            <h2 class="news-title line-clamp2">
                {$ article.title $}
            </h2>
            <p class="news-info line-clamp1">
                {$ article.info $}
            </p>
            <p class="news-abstract line-clamp3">
                {$ article.content $}
            </p>
            <p class="news-url line-clamp1">
                {$ article.url $}
            </p>
        </a>
    </li>
    <% else %>
    <style>
        .news-list {
            width: 100%;
            height: 100%;
        }

        .has-no-article {
            width: 100%;
            height: 100%;
            display: flex;
            background: white;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    </style>
    <li class="has-no-article">
        没有新闻
    </li>
    <% endfor %>
</ul>
<% endblock %>