<% extends "layout.html" %>
<%block header%>
    最新-及时雨
<%endblock%>
<% block content %>
<ul class="news-list">
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
    <li class="news-list-item">
        <a href="http://www.baidu.com">
            <h2 class="news-title line-clamp1">
                4月新规：多行业迎减税“红包” 中小学要建立陪餐制
            </h2>
            <p class="news-info line-clamp1">
                2019年03月25日 07:13　来源：人民网
            </p>
            <p class="news-abstract line-clamp3">
                "中新网3月25日电
                据日媒报道，25日，韩国大田地方法院做出决定，批准了强征劳工案中，韩国原告的代理人提出的扣押日本企业三菱重工业公司资产申请。　　韩国最高法院去年11月裁决，日本企业三菱重工第二次世界大战期间强行征用12名韩国劳工，应赔偿每名劳工或家属最高1.2亿韩元(约合71.0万元人民币)。　　被告三菱重工拒绝参与执行赔偿裁决相关的磋商，原告决定申请扣押这家企业在韩国的部分资产。　　对此类韩国劳工状告日企索赔案，日本政府辩解，韩国人的个人索赔权问题已通过1965年缔结的《日韩请求权协定》得到最终解决。　　针对原告方的举动，日本官房长官菅义伟曾表示担忧，称“这是极其严重的状况”。日方表示，如果企业方面蒙受实际损失，则会采取对抗措施。"
            </p>
            <p class="news-url line-clamp1">
                http://www.chinanews.com/gj/2019/03-25/8789554.shtml
            </p>
        </a>
    </li>
</ul>
<% endblock %>